#inscr{
	border: solid;
	border-color: white;
	background-color: transparent;
	width: 100%;
	text-align: center;
	border-radius: 50px;
	float: right;
	font-size: 30px;
	color: #f1eb13;
}
select{
	margin-right: 46px;
	width: 10%;
	border-radius: 20px;
}
#inscr input{
	width: 50%;
	border-radius: 20px;
	text-align: center;
}
#inscr button{
	background-color: #78cc04;
	border-radius: 20px;
	margin-right: auto;
	width: 150px;
	color: black;
	border-color:none;
}
#login input{
	border-radius: 20px;
	text-align: center;
}
#login button{
	border-radius: 20px;
	color: white;
	background-color:blue;
	border-color: none;
	width: 100px;
}
#login{
	float: right;
	margin-right: 4%;
	color: white;
}
#all{
	display: inline-block;
	float: right;
	width: 100%;
	margin-top: 2%;
	margin-right: 2%;
}
#all_{
	display: flex;
}