<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
  version="5.0"
  metadata-complete="true">

    <description>
      Servlet and JSP Examples.
    </description>
    <display-name>Servlet and JSP Examples</display-name>

    <request-character-encoding>UTF-8</request-character-encoding>

    

    <!-- Define servlets that are included in the example application -->

    <servlet>
      <servlet-name>formulaire</servlet-name>
      <servlet-class>Formulaire</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>formulaire</servlet-name>
        <url-pattern>/Formulaire</url-pattern>
    </servlet-mapping>
    

</web-app>
